<!DOCTYPE html>
<html>
<head>
  <title>Saracatunga</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">

    <a class="brand" href="#">ASRock</a>
    <ul class="nav">
      <li class="active"><a href="#">Profile</a></li>
      <li><a href="#">New</a></li>
    </ul>
    </div>
  </div>
</div>


    <div class="container">
        <%= yield %>
    </div>
</body>
</html>
